<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password - NexaGame</title>
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
</head>
<body>
    <div class="signin-container">
        <h1 class="project-name">NexaGame</h1>
        <h2>Forgot Password</h2>
        <form method="post" style="width: 300px;">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email" class="input-field">
            </div>
            <button type="submit" class="btn-signin">Reset Password</button>
        </form>
        <div class="new-to-gamecritichub">
            <p>Remembered your password? <a href="{% url 'signin' %}">Sign In</a></p>
        </div>
    </div>
</body>
</html>
