<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Detail</title>
    <link rel="stylesheet" type="text/css" href="{% static 'iadsapp/game_detail_style.css' %}">

</head>
<body>

{% for gamedetail in game_details %}
  <div class="game-container">
    <div class="game-image-container">
        <img src="/game_images/{{ gamedetail.game_image }}" alt="{{ gamedetail.game_name }}" class="game-image">
    </div>
    <div class="game-details-container">
        <h2>{{ gamedetail.game_name }}</h2>
        <p><strong>Production:</strong> {{ gamedetail.game_production }}</p>
        <p><strong>Release Date:</strong> {{ gamedetail.game_release }}</p>
        <p><strong>Rating:</strong> {{ gamedetail.game_rating }}</p>
        <p><strong> Platform:</strong> {{ gamedetail.game_platform }}</p>
        <p>{{ gamedetail.game_bio }}</p>
    </div>
</div>


{% endfor %}
</body>
</html>