<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - GameCriticHub</title>
     <style>
        body {
            background-image: url('{% static "img/gamesignin01.jpg" %}');
            background-size: cover;
            background-position: center;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
    </style>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
    <div class="signup-container">
        <h1 class="project-name">NexaGame</h1>
        <h2>Sign Up</h2>
        <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" name="first_name">
            </div>
            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="last_name">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password1">Password:</label>
                <input type="password" id="password1" name="password1" required>
                <ul id="password-instructions" class="form-text text-muted" style="display: none;">
                    <li>Your password can't be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can't be a commonly used password.</li>
                    <li>Your password can't be entirely numeric.</li>
                </ul>
            </div>
            <div class="form-group">
                <label for="password2">Confirm Password:</label>
                <input type="password" id="password2" name="password2" required>
            </div>
            <button type="submit" class="btn-signup">Sign Up</button>
        </form>
        <div class="existing-account">
            <p>Already have an account? <a href="{% url 'signin' %}">Sign In</a></p>
        </div>
    </div>

    <script>
        document.getElementById('password1').addEventListener('focus', function() {
            document.getElementById('password-instructions').style.display = 'block';
        });

        document.getElementById('password1').addEventListener('blur', function() {
            document.getElementById('password-instructions').style.display = 'none';
        });
    </script>
</body>
</html>
