{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'iadsapp/signin.css' %}">
    <title>GameCriticHub - Sign In</title>
</head>
<body>
    <div class="signin-container">
        <div class="header">
            <div class="title-container">
                <h1 class="website-title">GameCriticHub</h1>
            </div>
        </div>

        <div class="content-container">
            <div class="black-box">
                <h2 class="sign-in-title">Sign In</h2>
                <form method="post" action="{% url 'signin' %}">
                    {% csrf_token %}
                    {{ signin_form.email.label_tag }}
                    {{ signin_form.email }}
                    {% if signin_form.email.errors %}
                        <p class="error-message">{{ signin_form.email.errors }}</p>
                    {% endif %}

                    {{ signin_form.password.label_tag }}
                    {{ signin_form.password }}
                    {% if signin_form.password.errors %}
                        <p class="error-message">{{ signin_form.password.errors }}</p>
                    {% endif %}
                    <p class="forgot-password"><a href="#">Forgot your password?</a></p>
                    <label for="keep-signed-in">
                        <input type="checkbox" id="keep-signed-in" name="keep-signed-in"> Keep me signed in
                    </label>

                    <button type="submit" class="sign-in-button">Sign In</button>
                </form>
                {% if error_message %}
                    <p class="error-message">{{ error_message }}</p>
                {% endif %}
            </div>

            <div class="new-to-gamecritichub">
                <h2>New to GameCriticHub?</h2>
                <a href="{% url 'signup' %}" class="create-account-button">Create Your Account</a>
            </div>
        </div>
    </div>
</body>
</html>
