{% extends 'base.html' %}
{% load static %}
{% block title %}Signin1 - GameCriticHub{% endblock %}

{% block content %}
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: 'Inter', sans-serif;
        }

        .signin-container {
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .black-box {
            background-color: #000;
            color: #FFF;
            padding: 40px;
            border-radius: 10px;
            margin-top: 20px;
        }

        .sign-in-title {
            font-size: 24px;
        }

        .grey-box {
            background-color: #ccc;
            color: #000;
            padding: 20px;
            margin-top: 20px;
            border-radius: 5px;
        }

        .black-text {
            color: #000;
        }

        .or-divider {
            color: #FFF;
            font-size: 16px;
            margin-top: 20px;
        }

        .create-account-button {
            background-color: #4DD0ED;
            color: #000;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }
    </style>

    <div class="signin-container">
        <div class="black-box">
            <h2 class="sign-in-title">Sign In</h2>
            <div class="grey-box">
                <a href="{% url 'signin' %}" class="black-text">Sign in with GameCriticHub</a>
            </div>
            <div class="grey-box">
                <p class="black-text">Sign in with Google <img src="{% static 'img/icons/google.png' %}" alt=""></p>
            </div>
            <p class="or-divider">---------- or ----------</p>
            <a href="{% url 'signup' %}" class="create-account-button">Create a New Account</a>
        </div>
    </div>
{% endblock %}
