<!-- privacy_notice.html -->
{% extends 'base.html' %}

{% block title %}Privacy Notice{% endblock %}

{% block content %}
<div class="container">
    <!-- Team Details -->
<h5>Team Details</h5>
<ul>
    <li><strong>Bhavya Chauhan:</strong> <a href="mailto:chauha69@uwindsor.ca">chauha69@uwindsor.ca</a></li>
    <li><strong>Umer Mahmood Khan:</strong> <a href="mailto:khan7a1@uwindsor.ca">khan7a1@uwindsor.ca</a></li>
    <li><strong>Chandana Sree Sunkara:</strong> <a href="mailto:sunkarac@uwindsor.ca">sunkarac@uwindsor.ca</a></li>
    <li><strong>Ruchi Surendrasinh Nakum:</strong> <a href="mailto:nakumr@uwindsor.ca">nakumr@uwindsor.ca</a></li>
    <li><strong>Haari Sushil Raj Mohan Raj:</strong> <a href="mailto:mohanrah@uwindsor.ca">mohanrah@uwindsor.ca</a></li>
    <li><strong>Jaspreet Kaur:</strong> <a href="mailto:jaspree2@uwindsor.ca">jaspree2@uwindsor.ca</a></li>
    <li><strong>Navjot Kaur:</strong> <a href="mailto:kaur9z@uwindsor.ca">kaur9z@uwindsor.ca</a></li>
</ul>

</div>
{% endblock %}
