/* Add styles to make the signup form more compact */

.signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #37474F;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #37474F;
}

.existing-account {
    margin-top: 10px;
    text-align: center;
}

.existing-account a {
    color: #37474F;
    text-decoration: none;
}

.existing-account a:hover {
    text-decoration: underline;
}

.project-name {
    background-color: #37474F; /* Set the background color to match the button */
    padding: 10px; /* Adjust padding as needed */
    color: #ffffff; /* Set the text color to white */
    text-align: center; /* Center the text */
}