/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #943ab7;
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}


li {
    margin-bottom: 10px;
    background-color: rgba(141, 43, 152, 0.67);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

li:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

a:hover {
    color: #ff6600;
}
